<div class='todos'>
  {{#each todos}}
    <div class='todo'>
      <div class='todo-details'>
        <div class='todo-details-title'>
          <h1 class='todo-title'>{{name}}</h1>
          <p class='todo-importance {{importance}}'>{{importance}}</p>
          <div class='todo-actions'>
            <div class='status'>
                <button
                            class="todo-status-button small-button {{#if status}}done{{else}}not-done{{/if}}"
                            data-todo-id="{{id}}" data-action="toggleStatus"
                    >
                        {{#if status}} done {{else}} open {{/if}}
                    </button>
            </div>
          </div>
        </div>
          <p class='todo-dueDate'>{{dueDate}}</p>
        <p class='todo-description'>{{description}}</p>
      </div>
      <div class='todo-actions'>
        <div class='edit'>
          <button type='button' class='edit-todo-button small-button' data-todo-id='{{id}}' data-action='editTodo'>
            edit
          </button>
        </div>
      </div>
    </div>
  {{/each}}
</div>